MONGOD_EXPORTER_OPTS='-mongodb.uri="mongodb://prometheus:{{ mongodb_exporter_user_passwd | urlencode }}@{{ ansible_default_ipv4.address }}:{{ mongod_port }}" -web.listen-address={{ ansible_default_ipv4.address }}:{{ mongod_exporter_port }} -collect.collection -collect.database -collect.indexusage -collect.topmetrics{% if mongod_ssl | bool and mongod_authorization | bool %} -mongodb.tls -mongodb.tls-disable-hostname-validation -mongodb.tls-ca=/etc/mongod/ssl/ca-cert.pem -mongodb.tls-cert=/etc/mongod/ssl/server.crt -mongodb.tls-private-key=/etc/mongod/ssl/server.key{% endif %}'
