[mongod]
type = {{ mongod_backupset_arg.cloud_drive }}
{% if mongod_backupset_arg.cloud_drive == 'azureblob' %}
account = {{ mongod_backupset_arg.cloud_config.account }}
key = {{ mongod_backupset_arg.cloud_config.key }}
endpoint = {{ mongod_backupset_arg.cloud_config.endpoint }}
{% endif %}
{% if mongod_backupset_arg.cloud_drive == 's3' %}
provider = Minio
env_auth = false
access_key_id = {{ mongod_backupset_arg.cloud_config.access_key }}
secret_access_key = {{ mongod_backupset_arg.cloud_config.secret_key }}
region = us-east-1
endpoint = {{ mongod_backupset_arg.cloud_config.endpoint }}
location_constraint =
server_side_encryption =
{% endif %}
